.pageConnexion{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
    justify-content: space-around;
    margin-top: -27%;
    margin-left: 500px;
}


.cart {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.cart a{
    display: flex;
    justify-content: center;
    text-align: center;
    border: red solid;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.cart p {
    margin-top: 45%;
    font-size: 24px;
    color: black;

}